<div class="post div-centered-top-margin">
  <h1 class="title">{{report.subject === 'Other' ? report.customSubject : report.subject }}</h1>
  <h2 class="content-centered">Reported by: {{'Author1'}}</h2>
  <div id="postContent" class="post-section div-centered post-textarea">
    {{report.message}}
  </div>
  <div>
    <div class="horizontal">
      <input class="button submit-button tooltip-transparent" type="button" value="Delete post" (click)="delete()"/>
      <input class="button submit-button tooltip-transparent" type="button" value="See reported post"
             (click)="seePost()"/>
      <input class="button submit-button tooltip-transparent" type="button" value="Dismiss" (click)="dismiss()"/>
    </div>
  </div>
</div>
