<div class="top-panel panel-background">
  <div class="header">
    <a routerLink="/login-page">Blogomat.pl Twój styl, Twój blog
    </a>
    <div class="navigation-bar">
      <ul class="navigation main-navigation">
        <li class="tooltip header-navigation-element "><a class="menu-element" routerLink="/about">About</a></li>
        <li class="tooltip header-navigation-element "><a class="menu-element" routerLink="/main">Home</a></li>
        <li class="tooltip header-navigation-element "><a class="menu-element" routerLink="/login">Login</a></li>
        <li class="tooltip header-navigation-element ">
          <app-user-profile></app-user-profile>
        </li>
      </ul>
    </div>
  </div>
</div>
