<form class="form" [formGroup]="formGroup" (ngSubmit)="getFormData()">
  <div class="form-field">
    <label id="titleLabel" class="form-label" for="filters">Title:</label>
    <input id="title" formControlName="title" class="stretch form-control no-margin" type="search"
           placeholder="Search by title ..."/>
    <button id="search" type="submit" class="no-margin"><i class="fa fa-search"></i></button>
  </div>
  <div class="white-text">
    <div id="filter" class="horizontal align-center">
      <label for="filters">Filtry</label>
      <div id="filters" class="small-combo-button" (click)="dropdownStateChange()">
        <i *ngIf="!dropped" class="icon-fit fa fa-caret-square-o-down"></i>
        <i *ngIf="dropped" class="icon-fit fa fa-caret-square-o-up"></i>
      </div>

    </div>
    <div *ngIf="dropped" class="form-style-background white-text">
      <div *ngIf="!authorLocked" class="form-field">
        <label id="authorLabel" for="author" class="form-label">Author:</label>
        <input id="author" formControlName="author" class="form-control" type="text" placeholder="Author name..."/>
      </div>
      <div class="form-field"> <!--todo export to standalone component-->
        <label id="tagsLabel" for="tags" class="form-label">Tags:</label>
        <input id="tags" formControlName="tags" class="form-control"
               placeholder="Type tags here, divided by a comma ','"/>
      </div>
      <div class="form-field">
        <label id="publishDateFromLabel" for="publishDateFrom" class="form-label">Published:</label>
        <input id="publishDateFrom" formControlName="publishDateFrom" class="form-control" type="date">
        <input id="publishDateTo" formControlName="publishDateTo" class="form-control" type="date">
        <label id="maxPerPagelabel" for="maxPerPage" class="form-label">Max results: </label>
        <input id="maxPerPage" formControlName="dataPerPage" class="form-control" type="number" [value]="10" min="10"
               max="100"/> <!-- todo think about it-->
      </div>
      <button class="button tooltip-transparent medium-size-text" type="submit" value="Apply filters"
              [disabled]="!isFormValid()"></button>
    </div>
  </div>
</form>


