#usernameLabel, #nameLabel, #surnameLabel, #emailLabel, #registeredLabel {
  width: 5em;
}

#section2 {
  width: 40%;
}

#section3 {
  width: 60%;
}

#facebookLabel, #snapchatLabel, #instagramLabel, #twitterLabel {
font-size: 30px;
  margin-top: 0.25em;
}
