<div id="section1" class="form-style-background white-text">
  <h1 class="content-centered">Personal data</h1>
  <div class="horizontal">
    <div class="left-panel">
      <div id="profileImage" >
        <div class="content-centered"> <!--[(ngModel)]="user.image"-->
          <img *ngIf="!user.image"  class="profile-image" src="assets/icons/user-icon-large.png">
          <img *ngIf="user.image"  class="profile-image" src="assets/icons/doge.png">
        </div>
        <div class="button align-center">
          <label class="file-input-label tooltip-transparent" for="backgroundImage">Change profile picture</label>
          <input class="file-input" id="backgroundImage" type="file"
                 placeholder="Load post's background image"/>
        </div>
      </div>
    </div>
    <div class="right-panel">
        <div class="form-field">
        <label class="form-label" id="usernameLabel" for="username">Username:</label>
        <input id="username" class="form-control" type="text" maxlength="32"
               required="true" [(ngModel)]="user.username"/>
      </div>
      <div class="form-field">
        <label class="form-label" id="nameLabel" for="name">Name:</label>
        <input id="name" class="form-control" type="text" maxlength="32"
               required="true" [(ngModel)]="user.name"/>
      </div>
      <div class="form-field">
        <label class="form-label" id="surnameLabel" for="surname">Surname:</label>
        <input id="surname" class="form-control" type="text" maxlength="32"
               required="true" [(ngModel)]="user.surname"/>
      </div>
      <div class="form-field">
        <label class="form-label" id="emailLabel" for="email">Email:</label>
        <input id="email" class="form-control" type="text" maxlength="32"
               required="true" [(ngModel)]="user.email"/>
      </div>
      <div class="form-field">
        <label class="form-label" id="registeredLabel" for="registered">Registered:</label>
        <input id="registered" class="form-control" type="date" maxlength="32"
               required="true" [ngModel]="user.registered | date:'yyyy-MM-dd'" (ngModelChange)="user.registered=$event"/>
        <label class="form-label" id="postsCountLabel" for="postsCount">PostsCount:</label>
        <input id="postsCount" class="form-control" type="text" maxlength="32"
               required="true" [(ngModel)]="user.postsCount"/>
      </div>
      <div class="content-centered">
        <input type="submit" value="Save changes" id="submit" class="submit-button button tooltip-transparent" (click)="saveChanges()"/>
      </div>
    </div>
  </div>
</div>
<div id="section2" class="form form-style-background white-text content-centered align-center">
  <h1 class="content-centered">Blog statistics</h1>
<!--  todo tu wykresy-->
  <canvas  #canvas id="chartTest"></canvas>
</div>

