<div class="horizontal white-text">
  <a id="facebook" class="horizontal-item external-link white-text" [href]="data ? data.facebook : ' '  "><i
    class="fa fa-facebook-square"></i></a>
  <a id="snapchat" class="horizontal-item external-link white-text" [href]="data ?data.snapchat: ' ' "><i
    class="fa fa-snapchat-square"></i></a>
  <a id="instagram" class="horizontal-item external-link white-text" [href]="data ?data.instagram: ' ' "><i
    class="fa fa-instagram"></i></a>
  <a id="twitter" class="horizontal-item external-link white-text" [href]="data ?data.twitter: ' ' "><i
    class="fa fa-twitter-square"></i></a>
</div>
