<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form  div-centered-top-margin form-big">
  <h1 id="title" class="title content-centered">Create an account</h1>
  <div class="form-field">
    <label class="form-label" id="loginLabel" for="login">Login:</label>
    <input formControlName="login" class="form-control" type="text" maxlength="32" id="login"
           placeholder="login" required="true"/>
  </div>
  <div class="form-field">
    <label class="form-label" id="passwordLabel" for="password">Password:</label>
    <input formControlName="password" class="form-control" type="password" maxlength="32"
           id="password" placeholder="password" required="true"/>
  </div>
  <div class="form-field">
    <label class="form-label" id="usernamelabel" for="username">Username:</label>
    <input formControlName="username" class="form-control" type="text" maxlength="32" id="username"
           placeholder="username" required="true"/>
  </div>
  <div class="form-field  radiogroup">
    <label class="form-label" id="sexLabel">Sex:</label>
    <div class="radiogroup">
      <label class="form-label" for="male">Male</label>
      <input formControlName="sex" class="form-control" type="radio"
             id="male" value="Male" [checked]="'checked'"/>
      <label class="form-label" for="female">Female</label>
      <input formControlName="sex" class="form-control" type="radio" id="female" value="Female"/>
    </div>
  </div>
  <div class="form-field">

    <label class="form-label" id="emailLabel" for="email">E-mail:</label>
    <input formControlName="email" class="form-control" type="text" maxlength="100" id="email"
           placeholder="email" required="true"/>

  </div>
  <input [disabled]="!isValid()" type="submit" value="Sign Up!" id="submit"
         class="submit-button button tooltip-transparent" />

</form>
