$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "~font-awesome/css/font-awesome.css";
html,
body {
  display: flex;
  flex: 1;
  height: 100vh;;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.top-panel {
  width: 100%;
  alignment: top;
  font-family: Arial;
  font-size: 40px;
  display: inline-block;
  grid-template-columns: 100% auto;
}

.top-panel .icon {
  display: none;
}
@media screen and (max-width: 1200px) {
  .top-panel a:not(:first-child) {display: none;}
  .top-panel a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .top-panel.responsive {
    position: relative;
    flex-direction: column;
  }
  .top-panel.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-panel.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.panel-background {
  background: linear-gradient(to bottom, rgb(192, 17, 255) 0%,
    rgba(255, 255, 255, 0) 100%) top,
  linear-gradient(to bottom, #0004e5,
      rgba(255, 255, 255, 0) 100%) bottom;
}

.submit-button {
  width: 50%;
  min-width: 6em;
  font-size: 25px;
}

.radiogroup {
  flex: 1;
  flex-direction: row;
  margin-left: 0;
}

.button {
  color: white;
  background-color: #202020;
  text-align: center;
  font-family: Arial, serif;
  margin: 1em 1em;
  border-radius: 12em;
  border: 10px solid #c011ff;
  padding: 20px;
}

.button-cut {
  display: inline-block;
}

.submit-button:disabled {
  color: gray;
  border: 10px solid darkgray;
}

.main-navigation a {
  color: black;
  text-decoration: none;
}

.header a {
  color: black;
  text-decoration: none;
}

.content-centered {
  text-align: center;
}

.header {
  margin: 0 0 0 0.5em;
  display: block;
}

.tooltip:hover {
  background-color: #eafcff;
}

.tooltip-transparent:hover {
  background-color: lightblue;
  opacity: 1;
}

.menu {
  z-index: 99;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  text-align: center;
  align-content: center;

}

.main-navigation {
  font-size: 20px;
  vertical-align: middle;
  min-width: 20px;
}

.menu-item {
  cursor: pointer;
}

.header-navigation-element {
  float: right;
  margin-right: 0.2em;
  padding: 10px;
  height: 100%;
}

.form-big {
  width: 75%;
}

.form {
  padding: 10px;
  display: block;
  background-color: #202020;
  border: 1.2em solid #202020;
  border-radius: 15px;
  text-align: center;
}

.form-style-background {
  padding: 5px;
  display: block;
  background-color: #202020;
  border-radius: 15px;
}

.form-control {
  margin-left: 1em;
  margin-right: 1em;
  padding: 6px;
  border: 2px solid darkgreen;
  border-radius: 15px;
  flex: 1;
}

.form-field {
  background: linear-gradient(to bottom, rgb(192, 17, 255) 0%,
    rgba(255, 255, 255, 0) 100%) top,
  linear-gradient(to bottom, #0004e5,
      rgba(255, 255, 255, 0) 100%) bottom;
  padding: 5px 5px 15px 5px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-around;
}

.form-label {
  color: #ffffff;
  font-size: 20px;
  margin-left: 2em;
}

.form-label > span {

  text-align: left;
  display: inline-block;
  width: 1.5em;
}

.form-error {
  border: red;
  border-radius: 4px;
  z-index: 2;
}

.error-text {
  color: red;
  text-align: center;
}

.error-content {
  display: inline-block;
}

.navigation-bar {
  float: right;
}

.white-text {
  color: white;
}

.medium-size-text {
  font-size: 1.5em;
}

.in-form-background {
  display: inline-block;
}

.no-margin {
  margin: 0;
}

.footer {
  display: flex;
  min-height: 8vH;
  justify-content: center;
  margin-top: 0.2em;
}

.footer > h1 {
  align-items: center;
}


.menu-item-link {
  font-size: 15px;
}

.span {
  padding: 2px 2px 2px 2px;
}

.left-panel {
  width: 30%;
  margin-left: 0.5em;
  padding: 0 5px 5px 5px;
}

.menu-on-page {
  background-color: #202020;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: 4px solid #202020;
  border-radius: 15px;
}

.right-panel {
  width: 70%;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input-label {
  font-size: 1.25em;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.post {
  background-color: #202020;
  color: white;
  width: 95%;
  font-family: Arial;
  font-size: 16px;
  border: 4px solid #c011ff;
  border-radius: 25px;
}

.post-title {
  font-family: Arial;
  font-size: 25px;
  text-effect: engrave;
  text-align: center;
  horiz-align: center;
}

.post-textarea {
  word-wrap: break-word;
}

.post-section {
  padding: 5px 5px 5px 5px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.horizontal-group {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.horizontal-item {
  margin: 0.2em 0.2em 0.2em 0.2em;
}

.vertical-span {
  border: 2px solid white;
  min-height: 1em;
}

.post-tag-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

.tag {
  box-shadow: 5px 10px 18px aquamarine inset;
  margin-right: 0.2em;
  margin-left: 0.2em;
  padding: 2px 2px 2px 2px;
  cursor: pointer;
}

.post-toolbar {
  font-size: 20px;
  margin: 0 auto 0;
  width: 95%;

}

.justify-content {
  text-align: justify;
  justify-content: space-around;
}

.div-centered {
  margin: 0 auto 0;
}

.div-centered-top-margin {
  text-align: center;
  margin: 1em auto 0;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.click-disabled:hover {
  pointer-events: none;
  cursor: none;
  user-select: none;
}

.no-padding {
  padding: unset;
}

.stretch {
  flex: 1;
}

.small-combo-button {
  min-width: 0.2em;
  min-height: 15px;
}

.icon-fit {
  min-width: 1.5em;
  min-height: 1.5em;
  margin: 0 auto;
  padding: 0 auto;
}


.match-parent {
  max-width: 2em;
  max-height: 2.8em;
  height: 1.3em;
  min-height: 1em;

}

.title {
  padding: 5px;
  margin: 0.5em;
  color: white;
  text-align: center;
}

.block-standalone {
  margin: 0.5em;
}

.on-page-navigation {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  list-style: none;
}

.wrap-content-in-columns {
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
}

.align-center {
  box-sizing: border-box;
  justify-content: center;
}

.profile-image {
  max-height: 11em;
  max-width: 11em;
}

input > disabled {
  background-color: #c2c3c4;
  cursor: no-drop;
}

.toolbar-item-centered {
  text-align: center;
  font-size: 20px;
}

.external-link {
  text-decoration: none;
}

.horizontal-span {
  border: 2px solid white;
}

.vertical-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-navigation-menu {
  font-size: 24px;
}

.modal-info {
  display: inline-block;
  position: fixed;
  min-height: 20vh;
  left: 37.5%;
  right: 37.5%;
  bottom: 30vh;
  z-index: 9;
  min-width: 25%;
  max-width: 25%;
  width: 25%;
  border: 0.4em solid #c011ff;
  overflow: auto;
}

.modal-dialog {
  display: block;
  position: fixed;
  min-height: 50vh;
  left: 12.5%;
  right: 12.5%;
  top: 15vh;
  bottom: 15vh;
  z-index: 9;
  min-width: 75%;
  max-width: 75%;
  width: 75%;
  border: 0.4em solid #c011ff;
  overflow: auto;
}

/*::-webkit-scrollbar {
  background-color: #49cbe5;
  min-width: 0.5em;
}
::-moz-viewport-scroll{
  background-color: #49cbe5;
  min-width: 0.5em;
}
.scroller {
  overflow-y: scroll;
  scrollbar-color: #0A4C95 #C2D2E4;
}*/

.select-selected:after {
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.combo-box select {
  display: none; /*hide original SELECT element: */
}

.combo-box-selected {
  background-color: red;
}

/* Style the arrow inside the select element: */
.combo-box-selected {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.combo-box-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.combo-box-item {
  position: absolute;
  background-color: lightblue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.combo-box-item-selected {
  background-color: yellow;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.cursor-disable {
  cursor: auto;
}

.post-border {
  border: 4px solid #c011ff;
  margin: 0 auto;
}

.comment {
  border: 1px solid #c011ff;
}

.icon-inside-control {
  display: inline-block;
  position: absolute;
  margin-left: 65vw;
}
