<!--<div class="horizontal">
  <div>Watch author at:</div>
</div>-->
<div class="horizontal white-text">
  <a id="facebook" class="external-link white-text" href="http://www.facebook.com/marcin.augustynowicz1"><i class="icon-fit fa fa-facebook-square"></i></a>
  <a id="snapchat" class="external-link white-text" href="http://www.snapchat.com/marcin.augustynowicz1"><i class="icon-fit fa fa-snapchat-square"></i></a>
  <a id="instagram" class="external-link white-text" href="http://www.instagram.com/marcin.augustynowicz1"><i class="icon-fit fa fa-instagram"></i></a>
  <a id="twitter" class="external-link white-text" href="http://www.twitter.com/marcin.augustynowicz1"><i class="icon-fit fa fa-twitter-square"></i></a>
</div>
