<div class="horizontal white-text">
  <a id="facebook" class="horizontal-item external-link white-text" href="http://www.facebook.com/marcin.augustynowicz1"><i
    class="fa fa-facebook-square"></i></a>
  <a id="snapchat" class="horizontal-item external-link white-text" href="http://www.snapchat.com/marcin.augustynowicz1"><i
    class="fa fa-snapchat-square"></i></a>
  <a id="instagram" class="horizontal-item external-link white-text" href="http://www.instagram.com/marcin.augustynowicz1"><i
    class="fa fa-instagram"></i></a>
  <a id="twitter" class="horizontal-item external-link white-text" href="http://www.twitter.com/marcin.augustynowicz1"><i
    class="fa fa-twitter-square"></i></a>
</div>
