<div *ngIf="data" id="post" class="post div-centered-top-margin">
  <div id="title" class="post-section post-title">
    {{data.title}}
  </div>

  <div id="date" class="white-text">
    Dodany: {{data.publishDate | date:'yyyy-MM-dd'}}
    przez: {{data.author}}
  </div>

  <div id="backgroundImage" class="post-section">

  </div>
  <div id="postContent" class="post-section div-centered post-textarea">
    {{data.postContent}}
  </div>
  <div id="tags" class="post-section">
    <div class="horizontal-group post-toolbar">
      <div class="span">Tagi:</div>
      <li class="tag" (click)="searchCurrentTag(tag)" *ngFor="let tag of data.tags">{{tag}}  </li>
    </div>
  </div>
  <div id="postToolbar" class="horizontal-group post-toolbar justify-content toolbar-item-centered">
    <div class="horizontal-item horizontal toolbar-item-centered">
      <i (click)="likePost(1)" id="likeIt" class="icon-fit fa fa-thumbs-o-up"></i>
      <div>{{getLikes(data.title)}}</div><!-- todo post id-->
    </div>
    <div class="horizontal-span"></div>
    <div class="horizontal-item toolbar-item-centered">
      <app-social-media></app-social-media>
    </div>
    <div class="horizontal-span vertical"></div>
    <div class="horizontal-item toolbar-item-centered menu-item " routerLink="/account"><i id="user" class="icon-fit fa fa-user"></i></div>
    <div class="horizontal-span"></div>
    <div class="horizontal-item toolbar-item-centered menu-item" routerLink="/about"><i id="report" class="icon-fit fa fa-exclamation"></i></div>
  </div>
  <input *ngIf="backVisible" type="button" value="Back" class="button submit-button tooltip-transparent"
         (click)="back()"/>
</div>

