#likeIt {
  color: #49cbe5;
}

#user {
  color: darkgray;
}

#report {
  color: red;
}

#reported {
  color: gray;
  cursor: default;
}

#addComment {
  color: lightgreen;
}

#check {
  color: lawngreen;
}

#times {
  color: red;
}
