<div class="match-parent" *ngIf="visible" (mouseover)="showMenu()">
  <img id="userImg" src="assets/icons/user-icon-large.png" class="match-parent"/>
  <div class="content-centered">
    <ul (mouseover)="showMenu()" [hidden]="menuHidden" class="user-menu menu span" id="user-menu">
      <li (click)="showMenu()" class="tooltip-transparent menu-item" routerLink="/account">
        <a class="menu-item-link">My profile</a>
      </li>
      <li (click)="showMenu()" class="tooltip-transparent menu-item" routerLink="/userSettings">
        <a class="menu-item-link">Profile settings</a>
      </li>
      <li (click)="showMenu()" class="tooltip-transparent menu-item" routerLink="/management">
        <a class="menu-item-link">Blog management</a>
      </li>
      <li class="menu-item click-disabled">───────</li>
      <li (click)="showMenu()" class="tooltip-transparent menu-item" routerLink="/">
        <a class="menu-item-link">Logout</a>
      </li>
    </ul>
  </div>
</div>
