<div class="form-error tooltip" *ngIf="control && control.errors && (control.dirty || control.touched)">
  <div *ngIf="control.errors.required">
    <h4 class="error-content error-text tooltiptext">{{controlName}} is required</h4>
  </div>
  <div *ngIf="control.errors.unique">
    <img class="error-content" src="https://img.icons8.com/color/48/000000/high-priority.png">
    <h4 class="error-content error-text tooltiptext">{{controlName}} {{control.errors.unique}}  is invalid</h4>
  </div>
  <div *ngIf="control.errors.lessThen">
    <img class="error-content" src="https://img.icons8.com/color/48/000000/high-priority.png">
    <h4 class="error-content error-text tooltiptext ">{{controlName}} {{control.errors.lessThen}} is invalid</h4>
  </div>
  <div *ngIf="control.errors.greaterThan">
    <img class="error-content" src="https://img.icons8.com/color/48/000000/high-priority.png">
    <h4 class="error-content error-text tooltiptext ">{{controlName}} {{control.errors.greaterThan}} is invalid</h4>
  </div>
  <div *ngIf="control.errors.email">
    <img class="error-content" src="https://img.icons8.com/color/48/000000/high-priority.png">
    <h4 class="error-content error-text tooltiptext">{{controlName}} {{control.errors.email}} is invalid</h4>
  </div>
  <div *ngIf="control.errors.mobile">
    <img class="error-content" src="https://img.icons8.com/color/48/000000/high-priority.png">
    <h4 class="error-content error-text tooltiptext">{{controlName}} {{control.errors.mobile}} is invalid</h4>
  </div>
  <div *ngIf="control.errors.confirmPassword">
    <img class="error-content" src="https://img.icons8.com/color/48/000000/high-priority.png">
    <h4 class="error-content error-text tooltiptext">{{controlName}} {{control.errors.confirmPassword}} is
      invalid</h4>
  </div>
  <div *ngIf="control.errors.lessThen">
    <img class="error-content" src="https://img.icons8.com/color/48/000000/high-priority.png">
    <h4 class="error-content error-text tooltiptext">{{controlName}} {{control.errors.minlength}} is invalid</h4>
  </div>
</div>
