<div class="horizontal white-text sub-navigation-menu">
  <ul class="navigation on-page-navigation form-style-background white-text">
    <li (click)="switchAction(1);" class="tooltip-transparent menu-item-cursor stretch"> Add post</li>
    <div class="vertical-span"></div>
    <li (click)="switchAction(2);" class="tooltip-transparent menu-item-cursor stretch"> My posts</li>
    <div class="vertical-span"></div>
    <li (click)="switchAction(3);" class="tooltip-transparent menu-item-cursor stretch"> Find post</li>
  </ul>
</div>

<div *ngIf="action===1" class="div-centered-top-margin">
  <app-add-post (postAdded)="switchAction(2)" [data]="retrievedData"></app-add-post>
</div>
<div *ngIf="action===2" class="div-centered-top-margin">
  <div class="form-style-background">
    <h1 class="title">My posts</h1>
    <app-posts [user]="mock" [perRow]="1"></app-posts><!-- [user]="this.user" user from cookie or sth-->
  </div>
</div>
<div *ngIf="action===3" class="div-centered-top-margin">
  <app-search-posts [authorLocked]="true"></app-search-posts>
</div>
