<div id="aboutApp" class="form div-centered-top-margin white-text">
  <h1 id="aboutTitle" class="title">About app</h1>
  <div id="aboutContent">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Nulla pellentesque dignissim enim sit amet venenatis urna cursus eget. Elit eget gravida cum sociis natoque
    penatibus et magnis. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Adipiscing elit pellentesque
    habitant morbi tristique senectus et netus. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. Vitae
    tortor condimentum lacinia quis. Pellentesque habitant morbi tristique senectus et netus et malesuada.
    Share the Lorem Wasai Privacy
  </div>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" id="contact" class="form div-centered-top-margin">
  <h1 id="title" class="title content-centered">Contact us</h1>
  <div class="form-field">
    <label id="firstNameLabel" for="firstName" class="form-label">First name:</label>
    <input formControlName="firstName" id="firstName" class=" form-control"/>
  </div>
  <div class="form-field">
    <label id="lastNameLabel" for="lastName" class="form-label">Last name:</label>
    <input formControlName="lastName" id="lastName" class=" form-control"/>
  </div>
  <div class="form-field">
    <label id="emailLabel" for="email" class="form-label">E-mail:</label>
    <input formControlName="email" id="email" class="form-control"/>
  </div>
  <div class="form-field">
    <label id="subjectLabel" for="subject" class="form-label">Subject:</label>
    <select formControlName="subject" id="subject" class=" form-control">
      <option value="Business">Business</option>
      <option value="Bug report">Bug report</option>
      <option value="Question">Question</option>
    </select>
  </div>
  <div class="form-field">
    <label id="messageLabel" for="message" class="form-label">Message:</label>
    <textarea formControlName="message" id="message" class="post-textarea form-control"></textarea>
  </div>
  <input [disabled]="!isFormValid()" type="submit" value="Send message" id="submit"
         class="submit-button button tooltip-transparent"/>
</form>
